@charset "UTF-8";

main {
    text-align: center;
    max-width: 900px;
}

main img {
    width: 90%;
}

main h1 {
    color: white;
}

main .area-categoria {
    margin: 20px 0px;
}

main .botao-categoria {
    padding: 7px 15px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

main .botao-gerar {
    background-color: #1FA4DB;
    color: white;
    font-weight: 500;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main .botao-gerar:hover {
    background-color: #1987b6;
    transition-duration: .2s;
}

main .botao-gerar:active {
    background-color: white;
    color: #1987b6;
    transition-duration: 0s;
}

main p.area-frase {
    background-color: white;
    color: #c16a00;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    font-style: italic;
    border-radius: 5px;
}