@charset "UTF-8";

main {
    color: white;
    max-width: 700px;
}

main img {
    display: block;
    margin: auto;
    width: 150px;
}

main h1 {
    text-align: center;
    margin-bottom: 15px;
}

main input {
    width: 400px;
    margin: 5px 0px 10px 0px;
    height: 35px;
    padding: 10px;
}

.resultado {
    background-color: green;
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 15px 10px;
}

.resultado:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.resultado h1 {
    font-size: 1.5em;
}

.resultado p {
    margin: 5px 10px;
}

.botao-verificar {
    width: 100%;
    height: 35px;
    background-color: #0051ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.botao-verificar:hover {
    background-color: #0037ac;
    transition-duration: .1s;
}

.botao-verificar:active {
    background-color: white;
    color: #0037ac;
    transition-duration: 0s;
}