@charset "UTF-8";

h1 {
    text-align: center;
    color: white;
}

form {
    background-color: white;
    width: 400px;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 15px;
}

input[type='text'] {
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 30px;
    padding: 5px;
}

input[type='text']:focus-within {
    outline: none;
    color: white;
}

input[type='submit'] {
    background-color: #00d0ff;
    border: none;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #00a7cc;
    transition-duration: .2s;
}

input[type='submit']:active {
    background-color: black;
    color: #00d0ff;
    transition-duration: 0s;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 1.3em;
}